.content {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-image: url("../img/TOP.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
    position: relative;
}
.head {
    background-color: rgba(207, 250, 218, 0.068);
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 140px;
}

.body {
    color: white;
    font-size: 3em;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
}
.youtube {
    font-size: 15px;
}
.youtube span {
    color: rgb(255, 0, 0);
}
.footer footer {
    margin: 0 !important;
}

@media screen and (max-width: 550px) {
    .body {
        font-size: 2em;
    }
    .youtube {
        font-size: 12px;
    }
    .logo {
        width: 100px;
    }
}

記事一覧
iframe {
    width: 100% !important;
    height: 300px !important;
    z-index: 100 !important;
    padding: 3px !important;
}
.index iframe {
    width: 100% !important;
    height: 300px !important;
    z-index: 100 !important;
    padding: 3px !important;
}
.no1 iframe {
    width: 100%;
    min-height: 450px !important;
    max-height: 500px !important;
    z-index: 100;
}

.notMovie {
    margin: 0 auto;
}

.show iframe {
    width: 100% !important;
    height: 450px !important;
    z-index: 100;
    padding: 3px;
}

